
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>STEP IN STYLE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
    
  </head>
  <style>small{color:red;}</style>
  <body class="goto-here">
		<div class="py-1 bg-black">
    	<div class="container">
    		<div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
	    		<div class="col-lg-12 d-block">
		    		<div class="row d-flex">
		    			<div class="col-md pr-4 d-flex topper align-items-center">
					    	<div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
						    <a class="text" href="/signup"> HELP |SIGNUP</a>
					    </div>
					    <div class="col-md pr-4 d-flex topper align-items-center">
					    	<div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
						    <span class="text">stepinstyle68@gmail.com</span>
					    </div>
					    <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
						    <span class="text">3-5 Business days delivery &amp; Free Returns</span>
					    </div>
					  
				    </div>
			    </div>
		    </div>
		  </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="index.html">STEP IN STYLE</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
	          <li class="nav-item dropdown ">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">CATEGORY</a>
              <!-- <div class="dropdown-menu" aria-labelledby="dropdown04">
              	<a class="dropdown-item" href="shop.html">Shop</a>
                <a class="dropdown-item" href="product-single.html">Single Product</a>
                <a class="dropdown-item" href="cart.html">Cart</a>
                <a class="dropdown-item" href="checkout.html">Checkout</a>
              </div> -->
            </li>
	          <li class="nav-item"><a href="/products" class="nav-link">PRODUCTS</a></li>
	          <li class="nav-item"><a href="blog.html" class="nav-link">Contact</a></li>
			
				
				<!-- <li class="nav-item"><a href="/logout" class="nav-link">LOGOUT</a></li>
		
				<li class="nav-item"><a href="/login" class="nav-link">LOGIN</a></li> -->
				
	          <li class="nav-item cta cta-colored"><a href="cart.html" class="nav-link"><span class="icon-shopping_cart"></span>[0]</a></li>

	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->
  
<div class="hero-wrap hero-bread">
  <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
              <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span></p>
              <h1 class="mb-0 bread">OTP Verification</h1>
          </div>
      </div>
  </div>
</div>

<section class="ftco-section ftco-cart">
  
 <div class="container py-5">
<div class="row justify-content-center">
  <div class="col-md-6 col-12">
      <div class="signup my-5 p-5 fs-5 bg-light">
          <form action="/verifypass" method="post" class="form-group">
              <h2 class="text-center fs-3">Verify Your Email</h2>
         
              <div class="form-group mt-2">
                  <label for="email">Email:</label><br>
                  <input type="email" name="email" id="email" readonly class="form-control" value="<%= email %>" >
              </div>
              <div class="form-group my-3">
                  <label for="otp">OTP:</label><br>
                  <input type="text" id="otp" placeholder="Enter OTP" name="otp" class="form-control">
              </div>
              <div class="signup text-center">
                  <button type="submit" class="btn btn-dark px-5" >Verify Email</button>
              </div>
          </form>
          <!-- <button class="btn btn-dark fs-6 mt-3" onclick="resendotp()">Resend OTP</button> -->
      </div>
  </div>
</div>
</div>
</section>


<!-- <script>

    function resendotp() {
        const email = document.getElementById('email').value;
     $.ajax({
        url:'/login/verifypass',
        type:'POST',
        data:{email:email},
        success :function(response){
            window.location.reload();
        }, error: function (error) 
        {
          console.log(error.message);
        }
     })   
    }
</script> -->

		

   <%- include('../layouts/userfooter') %>